* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-weight: 600;
    
}
body {
    background: #08070d ;
}
#circle1{
    width: 120px;
    height: 120px;
    background-color: #ac20f2;
    border-radius: 50%;
    margin: 50px 120px;
}
#circle2{
    width: 120px;
    height: 120px;
    background: linear-gradient(120deg,#bd4524,#df871b);
    border-radius: 50%;
    top: 80%;
    right: 7%;
    position: fixed;
    transform: translate(-50%, -50%);

}
.contraire {
    top: 50%;
    left: 50%;
    transform:translate(-50% , -50%);
    position: fixed;
    height: 100%;
    width: 70%;
    display: flex;
    flex: 2;
}
.ProfileBox{
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 75%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    color: white;
    text-align: center;
    box-shadow: 0 0 25px #ffffff;
}
.img {
    top:5%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.name {
    top: 15%;
    left: 50%;
    transform: translate(-50%,50%);
    position: fixed;
    width: 100%;
}
#name {
    background: linear-gradient(45deg, #e100ff, #00ffea, #0000ff);
    background-clip: text;
    -webkit-background-clip: text;
    font-family:  monospace;
    color: transparent;
}
 hr {
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%) ;
    position: fixed;
    width: 95%;
    
}
.social-media {
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%) ;
    position: fixed;
    width: 95%;
    display: flex;
    flex: 2;
    text-align: center;
    justify-content: space-between;
    cursor: pointer;
}
.watch {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    color: white;
    display: none;
}
#fa:hover {
    transform: scale(1.25);
}
#ins:hover {
    transform: scale(1.25);
}
#tik:hover {
    transform: scale(1.25);
}
#dis:hover {
    transform: scale(1.25);
}
#dev:hover {
    transform: scale(1.25);
}
.img2 {
    border-radius: 15px;
}
@media (max-width:765px) {
    .ProfileBox {
        width: 80%;
    }
    .img {
        top: 0%;
    }
    .contraire {
        width: 100%;
    }
    .name{
        top: 5%;
    }
    #circle1 {
        margin: 50px 0;
    }
    #circle2 {
        right: -10%;
        top: 85%;
    }
}
@media (max-width:900px) {
    .ProfileBox {
        width: 80%;
    }
    .img {
        top: 0%;
    }
    .contraire {
        width: 100%;
    }
    .name{
        top: 5%;
    }
    #circle1 {
        margin: 50px 0;
    }
    #circle2 {
        right: -10%;
        top: 85%;
    }
}
@media (max-width:320px) {
    .ProfileBox {
        width: 80%;
        height: 100%;
    }
    .img {
        top: 10%;
        width: 100px;
    }
    .contraire {
        width: 100%;
    }
    .name{
        top: 5%;
    }
    #circle1 {
        margin: 50px 0;
    }
    #circle2 {
        right: -10%;
        top: 85%;
    }
}
@media (max-width:185px) {
    .watch {
        color: white;
        display: block;
    }
    .contraire {
        display: none;
    }
}